<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Muafiyet Başvuru Belgeleri</title>
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .button-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .button {
            background-color: #007bff;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
        }

            .button:hover {
                background-color: #0056b3;
            }

        .alert {
            background-color: #ffcc00;
            color: #333;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 20px;
            text-align: center;
            font-size: 18px;
            width: 80%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="alert">
            Zaten Başvurmuşsunuz Belgelerinizi Aşağıdan Görüntüleyebilirsiniz
        </div>
        <h2>Başvuru Belgeleri</h2>
        <div class="button-container">
            <a class="button fas fa-file-pdf" href="/uploads/@($"{ViewBag.oturumTC}-Basvuru.pdf")" target="_blank"> Başvuru Belgesi</a>
            <a class="button fas fa-file-pdf" href="/uploads/@($"{ViewBag.oturumTC}-Transkript.pdf")" target="_blank"> Transkript Belgesi</a>
            <a class="button fas fa-file-pdf" href="/uploads/@($"{ViewBag.oturumTC}-DersDokum.pdf")" target="_blank"> Ders Döküm Belgesi</a>
        </div>
    </div>
</body>
</html>
